{% extends 'base.html.twig' %}

{% block ajax %}
    <div id="welcome-box">
        <div>Üdv az oldalon xy!</div>
        <a role="button" id="welcome" class="btn btn-info">Kezdjük!</a>
    </div>

    <div class="ajax-switcher"></div>

{% endblock %}