{% extends 'base.html.twig' %}

{% block surgerySelectBlock %}

    <select id="surgeySelector">
        <option value="">Kérem válasszon!</option>
        {% for surgery in surgeries %}
            <option value="{{ surgery }}">{{ surgery }}</option>
        {% endfor %}

    </select>


    <div id="step2" style="display: none;">
     <br>
     <button class="ajax">Klikk!</button>
    </div>

    <div id="times"></div>


    <div id="step3" style="display: none;">
    <form>

        <input type="text" id="hour">
        <input type="text" id="surgey">


        <input type="text" name="name">
        <input type="text" name="phone">
        <input type="text" name="taj">

        <input type="submit">


    </form>

    </div>

{% endblock %}

{% block reservation_table %}

    <div id="step1" style="display:none;">
        <p>Dátum választása: <input type="text" id="datepicker"></p>
    </div>

{% endblock %}