{% extends 'base.html.twig' %}

{% block surgerySelectBlock %}
<div class="container-fluid">
    <div class="form-group">
        <select id="surgerySelector" class="form-control col-sm-4 col-offset-2">
            <option value="">Kérem válasszon!</option>
            {% for key, surgery in surgeries %}
                <option value="{{ key }}">{{ surgery }}</option>
            {% endfor %}
        </select>
    <div>
</div>

{% endblock %}

{% block datepicker %}
    <div id="dateSelector" style="display:none;">
        <br>
        <p>Dátum választása: <input type="text" id="datepicker"></p>
            <div id="forwardButton" style="display: none;">
        <br>
        <button id="toTableButton">Tovább a foglaláshoz!</button>
        </div>
    </div>

{% endblock %}

{% block tableBlock %}

    <div id="reservationTable"></div>

{% endblock %}

{% block formBlock %}

    <div id="reservationForm"></div>

{% endblock %}