{% extends 'base.html.twig' %}

{% block surgerySelectBlock %}

    <select id="surgerySelector">
        <option value="">Kérem válasszon!</option>
        {% for key, surgery in surgeries %}
            <option value="{{ key }}">{{ surgery }}</option>
        {% endfor %}

    </select>

{% endblock %}

{% block datepicker %}
    <br>
    <div id="dateSelector" style="display:none;">
        <p>Dátum választása: <input type="text" id="datepicker"></p>
    </div>

{% endblock %}

{% block select_button %}
    <div id="forwardButton" style="display: none;">
        <br>
        <button id="toTableButton">Klikk!</button>
    </div>

{% endblock %}

{% block tableBlock %}

    <div id="reservationTable"></div>

{% endblock %}
{% block formBlock %}

    <div id="reservationForm"></div>

{% endblock %}