{% extends 'base.html.twig' %}

{% block reservation_success %}

    <div>Kedves <strong>{{ patientData.lastName }} {{ patientData.firstName }} </strong> !
        <br>
        Foglalását rendszerünk sikeresen rögzítette!
        <br>
        Foglalás egyedi azonosítója: <strong>{{ code }}</strong>
        <br>
        Várjuk szeretettel rendelőnkben!
    </div>

{% endblock %}