{% block reservation_success %}

    <div>Kedves {{ datas.patient_data.lastName }} {{ datas.patient_data.firstName }}!
        <br>
        Foglalását rendszerünk sikeresen rögzítette!
        <br>
        Várjuk szeretettel rendelőnkben!

    </div>

{% endblock %}