{% extends 'base.html.twig' %}

{% block reservation_success %}

    <div>Kedves <strong>{{ patientData.firstName }} {{ patientData.lastName }} </strong> !
        <br>
        Foglalását rendszerünk sikeresen rögzítette!
        <br>
        Várjuk szeretettel rendelőnkben!
    </div>

{% endblock %}