{% block reservation_success %}

    <div>Kedves <strong> {{ lastName }} {{ firstName }} </strong> !
        <br>
        Foglalását rendszerünk sikeresen rögzítette!
        <br>
        Foglalás egyedi azonosítója: <strong>{{ code }}</strong>
        <br>
        Várjuk szeretettel rendelőnkben!
    </div>

{% endblock %}