{% extends 'base.html.twig' %}

{% block reservation_success %}

    <div>Kedves <strong>{{ datas.patient_data.lastName }} {{ datas.patient_data.firstName }} </strong> !
        <br>
        Foglalását rendszerünk sikeresen rögzítette!
        <br>
        Várjuk szeretettel rendelőnkben!

    </div>

{% endblock %}