{% block breadcrumb %}

        {% for arrays in breadcrumbs %}
            {% for url, title in arrays %}
                <a id="{{ url }}" class="btn btn-info" role="button">{{ title }}</a>
            {% endfor %}
        {% endfor %}

{% endblock %}

{% block reservation_table %}

    <div id="table">

        <table class="table table-striped">
            <thead>
            <th>Óra</th>
            <th>Foglalás</th>
            </thead>
            <tbody>
            {% for i in 8..15 %}
                <tr>
                    <td>{{ i }}:00</td>
                    {% if reserved[i] is defined %}
                        <td>Foglalt</td>
                    {% else %}
                        <td><input type="button" class="btn btn-info" id="reservationButton" value="Lefoglalom" data-hour="{{ i }}"></td>
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>

        </table>

    </div>

{% endblock %}