<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}-soroló-{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ 'css/design.css' }}">
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">


        {% endblock %}
        {% block javascripts %}
            {% javascripts '@AppBundle/Resources/public/js/*' %}
            <script
                    src="https://code.jquery.com/jquery-3.2.1.js"
                    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
                    crossorigin="anonymous">
            </script>
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
            <script src="https://raw.github.com/defunkt/jquery-pjax/master/jquery.pjax.js"></script>
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block fbjavascript %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

<div class="container">
        <div class="jumbotron">
            <p>-soroló-</p>
            <p>az orvosi időpontfoglaló alkalmazás</p>
                {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                    <span>
                        <a id="logout-box" class="btn btn-primary pull-right" href="{{ path('logout') }}">Kijelentkezés</a>
                    </span>
                {% endif %}
        </div>
    <div class="row">
        <div class="col-md-8">
            {% block result_content %}{% endblock %}
        </div>

    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            {% block infoBox %}{% endblock %}
            {% block ajax %}{% endblock %}
            {% block adminTable %}{% endblock %}
            {% block adminSearch %}{% endblock %}
            {% block loginForm %}{% endblock %}
            {% block registrationForm %}{% endblock %}
            {% block body %}{% block surgerySelectBlock %}{% endblock %}{% endblock %}
            {% block select_button %}{% endblock %}
            {% block tableBlock %}{% endblock %}
            {% block formBlock %}{% endblock %}
            {% block summary %}{% endblock %}
            {% block reservation_success %}{% endblock %}
        </div>
    </div>

</div>
    </body>
</html>
