<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}-soroló-{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ 'css/design.css' }}">

        {% endblock %}
        {% block javascripts %}
            {% javascripts '@AppBundle/Resources/public/js/*' %}
            <script
                    src="https://code.jquery.com/jquery-3.2.1.js"
                    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
                    crossorigin="anonymous">
            </script>
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

<div class="container">
        <div class="jumbotron">
            <p>-soroló-</p>
            <p>az orvosi időpontfoglaló alkalmazás</p>
        </div>
        {% block search_box%}{% endblock %}
        {% block breadcrumb %}{% endblock %}
        {% block result_content %}{% endblock %}
         <div>
             {% block body %}{% block surgerySelectBlock %}{% endblock %}{% endblock %}
             {% block datepicker %}{% endblock %}
             {% block select_button %}{% endblock %}
             {% block tableBlock %}{% endblock %}
             {% block formBlock %}{% endblock %}
             {% block reservation_success %}{% endblock %}
        </div>
</div>
    </body>
</html>
