p {
    color: #880000;
    text-align: center;
}

body{
    background-color: lightgrey;
}

#dateSelector{
    text-align: center;
}

#selector{
    margin-top: 3%;
}

a, button{
    margin: 2%;
}

#logout-box{
    text-align: right;
}